*{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
    color: #e63946;
}

.box{
    padding: 10px, 5px, 15px;
    border: 15px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    width: 300px;
    outline: 10px inset #a8dadc;
    outline-offset: 10px;
    box-sizing: border-box;
}

.box2{
    padding: 10px, 5px, 15px, 3px;
    border: 1px solid #457b9d;
    margin: 40px 0px 0px;
    background-color: #f1faee;
    max-width: 100%;
    box-sizing: border-box;
}

.box3{
    padding: 10px, 5px, 15px, 3px;
    border: 1px solid #457b9d;
    margin: 20px auto 20px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}



.caja1{
    padding: 10px, 5px, 15px, 3px;
    border: 1px solid #457b9d;
    margin: 30px auto 30px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}

.caja2{
    padding: 10px, 5px, 15px, 3px;
    border: 1px solid #457b9d;
    margin: 20px auto 20px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}

.interno{
    margin: inherit;
}